{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
	<style></style>

	<div class="row my-5">
		<div class="col-md-8 mx-auto">
			<div class="card">
				<table class="table">
					<thead>
						<tr>
							<th>ID</th>
							<th>Titre</th>
							<th>Description</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						{% for task in tasks %}
							<tr scope="row">
                                <td>{{task.id}}</td>
                                <td>{{task.title}}</td>
                                <td>{{task.description}}</td>
                                <td></td>
                            </tr>
						{% endfor %}
					</tbody>
				</table>
			</div>

		</div>

	</div>

{% endblock %}
