{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
	<style></style>

	<div class="row my-5">
		<div class="col-md-8 mx-auto">
			<div class="card">
				<table class="table">
					<thead>
						<tr>
							<th>ID</th>
							<th>Titre</th>
							<th>Description</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</tbody>
				</table>
			</div>

		</div>

	</div>

{% endblock %}
